<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         colors="true"
         bootstrap="vendor/autoload.php"
         verbose="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         beStrictAboutTestsThatDoNotTestAnything="false"
         failOnRisky="true">

    <testsuites>
        <testsuite name="unit">
            <directory>./Tests/Unit/Domain/Model</directory>
            <directory>./Tests/Unit/Domain/Enum</directory>
            <file>./Tests/Unit/Service/LogServiceTest.php</file>
            <file>./Tests/Unit/Service/TranslatedLoggerTraitTest.php</file>
            <file>./Tests/Unit/Service/GptTranslationServiceTest.php</file>
            <file>./Tests/Unit/Service/CourseAccessServiceTest.php</file>
            <file>./Tests/Unit/Service/ProgressTrackingServiceTest.php</file>
        <file>./Tests/Unit/Service/RecognitionAwardServiceTest.php</file>
        <file>./Tests/Unit/Service/LessonServiceTest.php</file>
        <file>./Tests/Unit/Service/QmsEscalationServiceTest.php</file>
        <file>./Tests/Unit/Service/SubmissionSyncServiceTest.php</file>
        <file>./Tests/Unit/Service/UserProgressSyncServiceTest.php</file>
        <file>./Tests/Unit/Service/DocumentServiceTest.php</file>
        <file>./Tests/Unit/Service/MaterialListServiceTest.php</file>
        <file>./Tests/Unit/Service/NotificationServiceTest.php</file>
        <file>./Tests/Unit/Service/QmsServiceTest.php</file>
        <file>./Tests/Unit/Service/CourseCompletionServiceTest.php</file>
        <file>./Tests/Unit/Service/CourseGoalServiceTest.php</file>
        <file>./Tests/Unit/Service/UserCourseServiceTest.php</file>
        <file>./Tests/Unit/Service/TokenServiceTest.php</file>
        <file>./Tests/Unit/Service/JwtServiceTest.php</file>
        <file>./Tests/Unit/Service/UserProgressServiceTest.php</file>
        <file>./Tests/Unit/Service/ProgressServiceTest.php</file>
        <file>./Tests/Unit/Service/LessonAttemptServiceTest.php</file>
        <file>./Tests/Unit/Service/LessonContentServiceTest.php</file>
        <file>./Tests/Unit/Service/CourseStatusUpdaterServiceTest.php</file>
        <file>./Tests/Unit/Service/ExamNotificationServiceTest.php</file>
        <file>./Tests/Unit/Service/TrainingRecordGeneratorServiceTest.php</file>
        <file>./Tests/Unit/Service/TabsBuilderTest.php</file>
        <file>./Tests/Unit/Service/FilterMetadataProviderTest.php</file>
        <file>./Tests/Unit/Service/InstructorDashboardServiceTest.php</file>
        <file>./Tests/Unit/Service/NotificationAggregatorTest.php</file>
        <file>./Tests/Unit/Service/CacheManagerTest.php</file>
        <file>./Tests/Unit/Service/GptEvaluationServiceTest.php</file>
        <file>./Tests/Unit/Service/FeedbackAnalysisServiceTest.php</file>
        </testsuite>
        <testsuite name="functional">
            <directory>./Tests/Functional/</directory>
        </testsuite>
    </testsuites>

    <php>
        <ini name="error_reporting" value="-1"/>
        <ini name="display_errors" value="1"/>
        <server name="TYPO3_TEST_WEBSERVER_REQUESTS" value="1"/>
        <server name="TYPO3_PATH_ROOT" value="."/>
        <server name="TYPO3_PATH_APP" value="."/>
        <server name="TYPO3_CONTEXT" value="Testing"/>
    </php>

    <listeners>
        <listener class="TYPO3\CMS\Core\Test\EventListener\TestEnvironmentActivationListener"/>
    </listeners>

</phpunit>
